@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  background-color: #ff5722;
  /* position: sticky; */
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: Open Sans;
  font-weight: bold;
}

.header ul:first-child li {
  margin-left: 20px;
  margin-right: 20px;
}

.header ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: #ff5722;
}

.logo {
  margin-left: 20px;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 1000;
}

.goals {
  /* display: inline-block; */
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 25px 10px;
  position: relative;
  word-wrap: break-word;
}

.add-btn {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: #ff5722;
  background: black;
  margin-top: 30px;
}

.goal .close {
  position: relative;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form {
  width: 30%;
  margin: 20px auto;
  background-color: #ff5722;
  border-radius: 30px;
  padding: 30px;
  background-color: #ff5722;
}
.content {
  width: 100%; /* Set the container width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  padding: 20px;
  height: auto;
  width: auto;
  position: relative;
  background-color: #ff5722; /* Set the background color */
  border-radius: 20px; /* Create curved corners */
  margin: 20px; /* Add gap between bars */
}

.bar-content {
  position: relative; /* Make the container position relative */
}

.close {
  position: absolute; /* Position the close button relative to its container */
  top: -20px; /* Adjust top position as needed */
  right: -20px; /* Adjust right position as needed */
  width: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
}

#adminCheckbox {
  width: 16px; /* Adjust as needed */
  height: 16px; /* Adjust as needed */
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 3px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Open Sans;
}

#testCases {
  display: block;
}
.form-group button {
  width: 50%;
  align-items: center;
}

.form-group label {
  margin-bottom: 10px;
  color: #000;
}

#login {
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

#register {
  text-align: center;
  display: block;
  margin: auto;
  margin-left: 40px;
  width: 100px;
  margin-left: 120px;
  align-items: flex-end;
  border-radius: 30px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #ff5722;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 40px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

#main {
  display: flex; /* Flexbox layout to place children side by side */
  height: 70vh; /* Sets the height to 70% of the viewport height */
  padding: 10px; /* Adds padding around the content inside #main */
  box-sizing: border-box; /* Includes padding in the calculation of width/height */
}

#problem,
#editor {
  background-color: #ff5722; /* Sets the background color */
  color: white; /* Sets the text color */
  width: 50%; /* Each box takes up half of the total width */
  font-family: "Open Sans", sans-serif; /* Specifies the font family */
  box-sizing: border-box; /* Includes padding and border in the width/height */
  padding: 10px; /* Adds padding inside each box */
  overflow: hidden; /* Prevents content from overflowing */
  margin: -15px 16px 15px 15px;
  border-radius: 0px 0px 20px 20px;
}
#problem-heading,
#editor-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -10px -10px 33px -10px;
  color: #ff5722;
  background-color: black;
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
  border: 2px solid #ff5722;
  border-style: dotted;
  display: flex;
  justify-content: space-between;
}

#langauge-select {
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
  color: #ff5722;
  background-color: black;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  border: 2px dotted #ff5722;
  display: flex;
  justify-content: space-between;
}
#editor-heading > ul,
#problem-heading > ul {
  display: flex;
  justify-content: space-between;
}

#editor-heading > ul > li,
#problem-heading > ul > li {
  border-radius: 20px 20px 20px 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#problem-statement,
#success-solve,
#failure-solve,
#compiler-error,
#codepad {
  overflow: auto;
  background-color: black;
  position: relative;
  width: 100%;
  border-radius: 5px;
  margin-top: -10px;
  color: white;
  border: 2px dotted #ff5722;
  text-align: left;
  padding: 10px;
  font: 1rem Open Sans;
}

#problem-statement {
  height: 20vh;
}

#codepad {
  resize: none;
  height: 46vh;
}

#compiler-error,
#success-solve,
#failure-solve,
#problem-status {
  height: 25vh;
}

#problem-specs,
#navigate-buttons {
  /* Set the line height for better readability */
  overflow: hidden;
  display: flex; /* Aligns children (li) in a row */
  justify-content: center; /* Centers the list items horizontally */
  align-items: center; /* Centers the list items vertically if needed */
  list-style: none; /* Removes default list bullets */
  padding: 0; /* Removes default padding */
  height: 30vh; /* Full height to enable vertical centering */
  margin: 40px auto; /* Removes default margin and centers the ul horizontally */
}

#problem-specs > li{
  overflow: auto;
  padding: 10px;
  text-align: left;
}
#navigate-buttons {
  justify-content: space-between;
  min-height: 45vh;
}

#problem-specs > li {
  position: relative;
  width: 50%; /* Width of each box */
  height: 100%; /* Height of each box */
  display: flex; /* Enables flexbox within each li */
  justify-content: center; /* Centers content horizontally within each li */
  align-items: center; /* Centers content vertically within each li */
  border: 2px dotted #ff5722; /* Adds a border around each li */
  border-radius: 20px;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  position: relative; /* Sets position context to relative for each li */
  margin: 20px; /* Adds spacing between the list items */
  background-color: black;
}

#navigate-buttons > li {
  position: relative;
  width: 20%; /* Width of each box */
  height: 10%; /* Height of each box */
  display: flex; /* Enables flexbox within each li */
  justify-content: center; /* Centers content horizontally within each li */
  align-items: center; /* Centers content vertically within each li */
  border: 2px dotted #ff5722; /* Adds a border around each li */
  border-radius: 20px;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  position: relative; /* Sets position context to relative for each li */
  margin: 20px; /* Adds spacing between the list items */
  background-color: black;
}

#code-reset {
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 10%;
  /* Add margin around each list item */
  padding: 10px; /* Add padding inside each list item */
  border: 2px dotted #ff5722; /* Add a border around each list item */
  border-radius: 20px; /* Add rounded corners to each list item */
  background-color: black; /* Set the background color */
  color: white; /* Set the text color */
  font-size: 1rem; /* Set the font size */
  font-weight: 700; /* Set the font weight */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
