@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  background-color: #ff5722;
  /* position: sticky; */
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: Open Sans;
  font-weight: bold;
}

.header ul:first-child li {
  margin-left: 20px;
  margin-right: 20px;
}

.header ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: #ff5722;
}

.logo {
  margin-left: 20px;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 1000;
}

.goals {
  /* display: inline-block; */
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 25px 10px;
  position: relative;
  word-wrap: break-word;
}

.goal .close {
  position: relative;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form {
  width: 100%; /* Set the container width */
  display: flex;
  justify-content: center;
}
.content {
  width: 100%; /* Set the container width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  padding: 20px;
  height: auto;
  width: auto;
  position: relative;
  background-color: #FF5722; /* Set the background color */
  border-radius: 20px; /* Create curved corners */
  margin: 20px; /* Add gap between bars */
}

.bar-content {
  position: relative; /* Make the container position relative */
}

.close {
  position: absolute; /* Position the close button relative to its container */
  top: -20px; /* Adjust top position as needed */
  right: -20px; /* Adjust right position as needed */
  width: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Open Sans;
}

.form-group button {
  width: 50%;
  align-items: center;
}
#login,
#register {
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #ff5722;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 40px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
